$bgColor: #BBBBBB;
$boxBgColor: cornflowerblue;
$imgBgColor: white;
$infoHeaderBgColor: lightskyblue;
$infoBgColor: deepskyblue;
$borderColor: blue;

$primaryTextColor: white;
$secondaryTextColor: gray;